@model List<ManageUsersViewModel>
@using Bug_Tracker.Enums;
@{
    ViewBag.Title = "ManageUsers";
}

<h2>Manage Users</h2>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">User's Information</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Submitter</th>
                        <th>Developer</th>
                        <th>Program Manager</th>
                        <th>Admin</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model)
                    {
                        <tr>
                            <td>@m.Name</td>
                            <td>@m.UserName</td>
                            @if (m.Roles.Contains(nameof(UserRoles.Submitter)))
                            {
                                <td><i class="fas fa-check"></i></td>
                            }
                            else
                            {
                                <td><i class="fas fa-times"></i></td>
                            }
                            @if (m.Roles.Contains(nameof(UserRoles.Developer)))
                            {
                                <td><i class="fas fa-check"></i></td>
                            }
                            else
                            {
                                <td><i class="fas fa-times"></i></td>
                            }
                            @if (m.Roles.Contains(nameof(UserRoles.ProjectManager)))
                            {
                                <td><i class="fas fa-check"></i></td>
                            }
                            else
                            {
                                <td><i class="fas fa-times"></i></td>
                            }
                            @if (m.Roles.Contains(nameof(UserRoles.Admin)))
                            {
                                <td><i class="fas fa-check"></i></td>
                            }
                            else
                            {
                                <td><i class="fas fa-times"></i></td>
                            }
                            <td>
                                <a href="@Url.Action("EditRoles","Bug", new {userId = m.Id })">Edit Roles</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>