
@{
    ViewBag.Title = "DemoLogin";
}

<h2>Demo Login</h2>

<div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Please choose a role:</div>
    <div class="card-body text-primary">
        <a href="@Url.Action(nameof(AccountController.DemoLogin),"Account",new {email = "demosubmitter@mybugtracker.com", returnUrl = "/"})" class="btn btn-primary text-white d-block">Demo Submitter</a>
        <hr>
        <a href="@Url.Action(nameof(AccountController.DemoLogin),"Account",new {email = "demodeveloper@mybugtracker.com", returnUrl = "/"})" class="btn btn-primary text-white d-block">Demo Developer</a>
        <hr>
        <a href="@Url.Action(nameof(AccountController.DemoLogin),"Account",new {email = "demoprojectmanager@mybugtracker.com", returnUrl = "/"})" class="btn btn-primary text-white d-block">Demo Project Manager</a>
        <hr>
        <a href="@Url.Action(nameof(AccountController.DemoLogin),"Account",new {email = "demoadmin@mybugtracker.com", returnUrl = "/"})" class="btn btn-primary text-white d-block">Demo Admin</a>
    </div>
</div>